 <div class="album up social">
    <!-- edit cover art image src -->
        <div class="cover"><img src="albums/artist1/smoke_e_joe-dj-01.jpg" width="100%" height="100%" /></div>
        <!-- edit artist and album name -->
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
        <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                        <!-- edit song names and src files -->
                            <li  data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.ogg" ><div class="playcontrol"></div>Get It Right</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Best Nights</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.ogg" ><div class="playcontrol"></div>I'll Bite You</li>
                                  <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.ogg" ><div class="playcontrol"></div>Feelings</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Tonights The Night</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample.ogg" ><div class="playcontrol"></div>I'll See You There</li>

                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album one -->
    <!-- album two -->
      <div class="album up social">
        <div class="cover"><img src="albums/artist2/krazy-kartoons-robot-dj02.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
       <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.ogg" ><div class="playcontrol"></div>Stranger</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Draw The Line</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.ogg" ><div class="playcontrol"></div>Life In The Pain</li>
                                   <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.ogg" ><div class="playcontrol"></div>Down In Flames</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Hard To Cope</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist2/envatosample.ogg" ><div class="playcontrol"></div>Since You Left</li>

                     </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album two -->
    <!-- album three -->
      <div class="album up social">
        <div class="cover"><img src="albums/artist3/ranfirefly01.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
       <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                            <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.ogg" ><div class="playcontrol"></div>Dreams and Disasters</li>
                            <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Along The Edge</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist3/envatosample.ogg" ><div class="playcontrol"></div>Gold</li>
                             <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Tonight</li>

                     </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album three -->
    <!-- album four -->
   <div class="album up social">
        <div class="cover"><img src="albums/artist4/smoke_e_joe-dj-03.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
        <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                              <li  data-mp3="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.ogg"  ><div class="playcontrol"></div>Heart Starts Beating</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Have At It</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.ogg" ><div class="playcontrol"></div>All Fair</li>
                                 <li  data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>In Faith</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist4/envatosample.ogg" ><div class="playcontrol"></div>Our Holy Ghost</li>

                     </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album four -->
    <!-- album five -->
     <div class="album up social">
        <div class="cover"><img src="albums/artist5/smoke_e_joe-dj-08.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
      <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.ogg"  ><div class="playcontrol"></div>Pirates Belong At Sea</li>
                                 <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Straight To Your Heart</li>
                                     <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist5/envatosample.ogg"  ><div class="playcontrol"></div>Sleepless In Cincinnati</li>

                     </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album five -->
    <!-- album six -->
     <div class="album up social">
        <div class="cover"><img src="albums/artist6/smoke_e_joe-dj-05.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
       <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                          <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>I Found Out</li>
                                 <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist6/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist6/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist6/envatosample.ogg"  ><div class="playcontrol"></div>Blind</li>
                                  <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Simple Man</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end album six -->

   </div>
</div>
<!-- End Slide One -->

<!-- Slide Two -->
<div class="audiobox-gallery">
     <div class="albumswrap">
    <div class="album up social">
        <div class="cover"><img src="albums/artist7/guitar-bushido.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
        <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                             <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.ogg"  ><div class="playcontrol"></div>Time To Begin</li>
                               <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Call Me Never</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist7/envatosample.ogg" ><div class="playcontrol"></div>Brighter Lights</li>

                        </ul>
                    </div>
            </div>
        </div>
    </div>
      <div class="album up social">
        <div class="cover"><img src="albums/artist8/smoke_e_joe-dj-06.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
       <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                            <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.ogg"  ><div class="playcontrol"></div>Always Summer</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Traveler</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist8/envatosample.ogg" ><div class="playcontrol"></div>Telescope</li>
                                  <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Watch Tower</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
      <div class="album up social">
        <div class="cover"><img src="albums/artist9/thomas07-synthetic-bass.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
       <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                             <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.ogg"  ><div class="playcontrol"></div>Dig Up The Dead</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Careless</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.ogg"  ><div class="playcontrol"></div>Seven Years</li>
                                  <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.ogg"  ><div class="playcontrol"></div>Shame</li>
                              <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist1/envatosample2.ogg"  ><div class="playcontrol"></div>Blame Me</li>
                                <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist9/envatosample.ogg"  ><div class="playcontrol"></div>All This Time</li>

                     </ul>
                    </div>
            </div>
        </div>
    </div>
   <div class="album up social">
        <div class="cover"><img src="albums/artist10/marcfolio-headphones02.jpg" width="100%" height="100%" /></div>
        <div class="artist"><div class="artistname">Artist Name</div><div class="albumname">Album Name</div></div>
        <div class="audiowrap">
            <div class="audio">
                <div class="controls"></div>
                    <div class="playlist">
                        <ul>
                          <li data-mp3="http://www.nrcstudios.info/audiobox/albums/artist10/envatosample.mp3" data-m4a="http://www.nrcstudios.info/audiobox/albums/artist10/envatosample.m4a" data-oga="http://www.nrcstudios.info/audiobox/albums/artist10/envatosample.ogg"  ><div class="playcontrol"></div>This Kiss</li>

                        </ul>
                    </div>
            </div>
        </div>
    </div>


   </div>
</div>
<!-- End Slide Two -->
