<!-- bottomplayer -->    
<div id="bottomplayer">            
<div id="audiomarquee" ></div>             
<div id="audioplayer"></div>             
<div id="zen"><span class="player"></span><span class="circle"></span><span class="progress"></span>
<span class="buffer"></span><span class="drag"></span>
<div class="button"><span class="icon play"></span>
<span class="icon pause"></span></div>
<div class="audio-info"><div class="repeat"></div>
<div class="duration">0:00</div></div><div class="prevbutton"></div>
<div class="nextbutton"></div></div>            
<div class="drawlevels"><div class="level1"></div>
<div class="level2"></div><div class="level3"></div>
<div class="level4"></div>
<div class="level5"></div></div>        </div> 
<!-- end bottomplayer -->
